/*Tableau designe*/

.zui-table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}
.zui-table-zebra tbody tr:nth-child(odd) {
  background-color: #fff;
}
.zui-table-zebra tbody tr:nth-child(even) {
  background-color: rgb(161, 243, 165);
}
.zui-table-horizontal tbody td {
  border-left: none;
  border-right: none;
}


/*
div.container {
  width: 100%;
  border: 1px solid gray;
} */

*, *:after, *:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.parent {
  /* background: #888888;   */
  padding: 10px;
}

.parent:after
{
  clear: both;
  content: "";
  display: block;
}


.column {
  display: block;
  float: left;
  width: 100%;
  /* color: #ffffff; */
  padding: 5px;
  /* font-family: Arial; */
  /* font-size: 45px; */
}

/* .main {
  background: #3054be;
}
.sidebar {
  background: #ee7000;
} */

@media only screen and (min-width: 641px){
  .column {
    width: 50%;
  }
}

@media only screen and (min-width: 1025px){
  .main {
    width: 66.66%;
  }
  .sidebar {
    width: 33.33%;
  }
}

/* .main {
  background: #3054be;
}
.sidebar {
  background: #ee7000;
} */

@media only screen and (min-width: 641px){
  .column {
    width: 50%;
  }
}

@media only screen and (min-width: 1025px){
  .main {
    width: 66.66%;
  }
  .sidebar {
    width: 33.33%;
  }
}
